pre {
  text-align: center;
  white-space: pre-line;
  margin: 0 auto;
  padding-top: 100px;
  width: 300px;
  letter-spacing: 0.4px;
  line-height: 1.1;
  text-align: center;
  font-size: 13px;
  font-family: "IBM Plex Serif", serif;
}

a {
  color: #ff008f;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
